.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-content {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btnn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #8625ee;
    color: white;
    cursor: pointer;
  }
  
  .btnn:hover {
    background-color: #b95be1;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .alternative-action {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link {
    color: #7018e5;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }

 .login-logo {
    display: flex;
    margin: 0 auto 20px auto; 
    max-width: 150px; 
    height: auto;
 }